/* CSS styles */
body{
    background-color: rgb(212, 119, 198);
}
h1{
   text-align: center; 
   text-shadow: 3px 7px 6px;
color: rgb(223, 190, 230);
font-size: 3em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
}
p{
    color: rgb(119, 214, 226);
    font-size: 2em;
}